<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\SalesRule\Model\Rule">
        <plugin name="proxiblue_excludesaleproducts_rule_plugin" type="ProxiBlue\ExcludeSaleProducts\Plugin\SalesRule\Model\RulePlugin" sortOrder="10" />
    </type>
</config>
